ion-content {
  --padding-top: 16px;

  .content-col {
    --ion-grid-column-padding: 0px;
  }

  .user-image {
    --size: 100px;
    margin: auto;
  }

  .user-name {
    text-align: center;
  }
}

ion-fab-button {
  --background: var(--ion-color-step-150, #ffffff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);
  --color: var(--ion-color-primary, #3880ff);
}

