<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <h1 class="center-content" style="padding-bottom: 50px">
    Welcome {{ professorInfoReceived?.username }}
  </h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Profesor Information: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Username: {{ professorInfoReceived?.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Name: {{ professorInfoReceived?.firstName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Last Name: {{ professorInfoReceived?.lastName }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>User Type: {{ professorInfoReceived?.userType }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{ professorInfoReceived?.email }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>RUT: {{ professorInfoReceived?.rut }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Phone: {{ professorInfoReceived?.phone }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address: {{ professorInfoReceived?.address }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="success" (click)="goToProductList()"
    >Ir a Listado de Productos</ion-button
  >
</ion-content>
