<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Student" defaultHref="/student"
          >Estudiantes</ion-back-button
        >
        <ion-label class="ion-text-center">Estudiantes</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="selectedStudent">
  <p *ngIf="userInfoReceived">
    Nombre: {{ userInfoReceived.firstName }} {{ userInfoReceived.lastName }}
  </p>
  <p>Carrera: {{ selectedStudent.nombre_carrera }}</p>
  <h2 class="ion-text-center">Horario de Hoy</h2>

  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 18:00 am </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="dam">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Diseño de aplicaciones móviles</h3>
            <p>8:00 am &mdash; 10:00 am: LC-3</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 10:00 am </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="cds">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Calidad de Software</h3>
            <p>10:00 am &mdash; 12:00 pm: LC-7</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 12:00 pm </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="ingles">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Inglés</h3>
            <p>12:00 pm &mdash; 14:00 pm: LC-9</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-content>
  <div *ngIf="selectedStudent">
    <h2>Student Details</h2>
    <p>ID: {{ selectedStudent.id }}</p>
    <p>Carrera: {{ selectedStudent.nombre_carrera }}</p>

    <h3>Asignaturas:</h3>
    <ion-list>
      <ion-item *ngFor="let asignatura of selectedStudent.asignaturas">
        <h4>{{ asignatura.nombre }}</h4>
        <ion-list>
          <ion-item *ngFor="let horario of asignatura.horarios_de_clase">
            <p>Hora de inicio: {{ horario.hora_de_inicio }}</p>
            <p>Hora de fin: {{ horario.hora_de_fin }}</p>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </div>

  <ion-button (click)="goToStudent()">Back to Student</ion-button>
</ion-content>

<ion-item-group>
  <ion-item-divider sticky>
    <ion-label> 18:00 am </ion-label>
  </ion-item-divider>
  <ion-item-sliding #slidingItem track="dam">
    <ion-item>
      <ion-label>
        <!-- Utiliza interpolación para mostrar los datos del horario de clases -->
        <h3>{{ horario.nombre_asignatura }}</h3>
        <p>
          {{ horario.hora_inicio }} &mdash; {{ horario.hora_fin }}: {{
          horario.aula }}
        </p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>
</ion-item-group>
