<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Student" defaultHref="/student"
          >Estudiantes</ion-back-button
        >
        <ion-label class="ion-text-center">Estudiantes</ion-label>
      </ion-buttons>
    </ion-toolbar>
    <ion-title>Horario de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">schedule-details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 8:00 am </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="ionic">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Diseño de aplicaciones móviles</h3>
            <p>8:00 am &mdash; 10:00 am: LC-3</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 10:00 am </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="angular">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Calidad de Software</h3>
            <p>10:00 am &mdash; 12:00 pm: LC-7</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label> 12:00 pm </ion-label>
      </ion-item-divider>
      <ion-item-sliding #slidingItem track="services">
        <ion-item>
          <ion-label>
            <!-- implementar json con horarios de clases y categorias para aplicar colores segun categoria -->
            <h3>Inglés</h3>
            <p>12:00 pm &mdash; 14:00 pm: LC-9</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
